.divpadre{
    background-color: #0A0A23;
}
#barra-de-busqueda{
    width: 95%;
}
#title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
button{
    background-color: #0A0A23;
    color: white;
    border: 1px white solid;
}
